.header {
  height: 64px !important; /* prevent material theme switch header height from device height */
  background:#F4F5F7;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.align-right {
  margin-left: auto;
}

a {
  font-size: 14px;
  font-weight: lighter;
  color: #505f79;
  cursor: pointer;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

a::before {
  content: '|';
  margin-right: 10px;
}

strong {
  color: #0052CC;
  cursor: default;
}

strong:focus {
  outline: none;
}
